<div class='list-group'>
    <div class='user-inline list-group-item list-group-item-action'>
        <div>
          <%= gravatar_for(user,size: 40) %>
          <%= user.name %>
        </div>
        <div class='flex'>
          <%= render 'users/action', user: user %>
        </div>
    </div>
</div>
