

 <% @users.each do |user| %>
<div class='list-group'>
    <div class='flex align-center justify-beetwen list-group-item list-group-item-action'>
        <div>
          <%= link_to gravatar_for(user,size: 40), user %>
          <%= link_to user.name, user %>
        </div>
        <div class='flex justify-beetwen align-center'>
          <%= render 'users/action', user: user %>
        </div>
     
    </div>
</div>
<% end %>
