
<div class='flex flex-column justify-center user-info-box'>
  <div class=' p-4'>
    <span class='user-image'>
    <%= link_to gravatar_for(current_user, size: 50), current_user%>
    </span>
    <span class='text-center '><%= link_to current_user.name, current_user, class:'user-name' %></span>
  </div>
  <div class='post-num p-4'>
   <div class='flex flex-column font-md'>
    <span class='text-center text-black'><%= current_user.posts.count %></span>
    <span>Posts</span>
   </div>
   <div class='flex flex-column ml-4 font-md'>
    <span class='text-center text-black'><%= current_user.friends.count %></span>
    <span>Friends</span>
   </div>
  </div>
</div>