// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.time-post {
    font-size: 13px;
}

.head-bar {
    background-color: black;
    color: red;
}